.col-md-4
	ul.list-group
		li.list-group-item: a(href=path+'/course/index.html') 定例WordPress講座とは？
		li.list-group-item: a(href=path+'/course/introduction.html') 導入編
		li.list-group-item: a(href=path+'/course/setting.html') 設定編
		li.list-group-item: a(href=path+'/course/content.html') コンテンツ制作編
		li.list-group-item: a(href=path+'/course/html-css.html') HTML&CSS編
		li.list-group-item: a(href=path+'/course/customize.html') カスタマイズ編
		li.list-group-item: a(href=path+'/course/operation.html') 運用編
